 {% extends 'authapp01_base.html' %}
 {% block title %}Login{% endblock title %}
 {% block content %}
 <h1 class="text-center mt-5 alert alert-success font-bold">Login</h1>
 <form action="" method="POST" novalidate>
     {% csrf_token %}
     {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
     <div class="alert alert-danger" role="alert">
         {{ error }}
     </div>
     {% endfor %}
     {% endif %}
     {% for fm in form %}
         {{fm.label_tag}} {{fm}} {{fm.errors|striptags }}<br/><br/>
     {% endfor %}
     <input type="submit" class="btn btn-success" value="Login">
     <a href="{% url 'signup' %}" class="btn btn-info">Not a User</a>
 </form>
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-danger" role="alert">
      {{ msg }}
  </div>
  {% endfor %}
  {% endif %}
 {% endblock content %}