{% extends 'authapp01_base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<h1 class="text-center mt-5 alert alert-success font-bold">Sign Up</h1>
<form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags }}<br/><br/>
    {% endfor %}
    <input type="submit" class="btn btn-success" value="Sign Up">
    <a href="{% url 'login' %}" class="btn btn-info">Already a User</a>
</form>
 {% if messages %}
 {% for msg in messages %}
 <div class="alert alert-danger" role="alert">
     {{ msg }}
 </div>
 {% endfor %}
 {% endif %}
{% endblock content %}