<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Personal Portfolio{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    {% include 'layouts/components/navbar.html' %}
    {% block herosection %}Hey, I am Hero Section{% endblock herosection %}
    {% block content %}{% endblock content %}
    {% block footer %}this is footer{% endblock footer %}
    <h1>This is Footer</h1>
</body>
</html>